* {
    --color-tb: #fff;
    --color-tp: #000;
    --color-1: #671791;
    --color-2: #2013A8;
    --color-3: #A8387E;
    --color-4: #426B9E;
    --color-5: #A38B88;

    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    font-family: "Montserrat", Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    margin: 0;
}

body,
html {
    background: #ECEDEF;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 10px 0;
}

/* Menu */
.nav_bar .bar {
    width: 100%;
    overflow: hidden;
    text-align: center;
    top: 0;
    position: fixed;
    z-index: 1;
    background-color: var(--color-1);
}

.nav_bar .bar_item {
    width: 25%;
    display: block;
    padding: 8px 16px;
    border: none;
    float: right;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    color: var(--color-tb);
    background-color: var(--color-1);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.bar_item:hover{
    color:var(--color-tp);
    background-color: #fff;
}
.bar span{
    width: 25%;
    display: block;
    padding: 0px 16px;
    border: none;
    float: left;
    text-decoration: none;
    color: var(--color-tp);
    font-family: fantasy;
    font-weight: bold;
    font-style: oblique;
    font-size: 26px;
}

/* Empresa */
#aba{
    text-align: center;
    margin: 50px 0 0 0px;
}

main{
    padding: 32px 10px;
    text-align: center;
    margin: 10px auto;
}
main p{
    font-size: 15px;
}
