*{
    margin: 0 auto;
    border: 0;
    padding: 0;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    scroll-behavior: smooth;
    margin: 0 auto;
    border: 0;
    padding: 0;
}

main{
    width: 85%;
    height: 100%;
    background-color: black;
    color: #fff;
}

section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

section h2{
    margin: 15px auto;
}
section p{
    color: #666;
}
nav{
    margin: 10px auto;
    width: 100%;
    text-align: center;
    transition: background-color;
    transition-duration: 1s;
}
nav:hover{
    background-color: #fff;
}
nav ul {
    list-style-type: none;
    padding: 10px 0;
}
nav ul li a {
    text-decoration: none;
    color: #666;
}
nav ul li a:hover{
    color: #000;
}
section label{
    margin: 10px auto;
}
section hr{
    width: 100%;
    background-color: #fff;
    height: 2px;
    margin: 10px auto;
}

section select{
    width: 50%;
    padding: 8px 5px;
    border-radius: 5px;
    display: none;
}
section select:focus-visible{
    outline: none;
}

section  select option{
    padding: 2px;
}

section button{
    padding: 1% 5%;
    margin: 15px auto;
    border-radius: 10px;
}

figure{
    display: flex;
    flex-direction: column;
}

figure img{
    width: 85%;
    margin: 10px auto;
    transition: width;
    transition-duration: 1s;
}