body {
    background-color: var(--e-global-color-2);
    font-family: 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

/* Variaveis Globais */
*{
    --e-global-color-1: #A8230C;
    --e-global-color-2: #FF5A3D;
    --e-global-color-3: #F54222;
    --e-global-color-4: #009958;
    --e-global-color-5: #51E8A8;
}

/*Cabeçalho da Página*/
header {
    background-color: var(--e-global-color-4);
    width: 100%;
    overflow: hidden;
    height: auto;
    display: grid;
    justify-items: center;
}

header h1 {
    color: whitesmoke;
    text-align: left;
    font-size: 200%;
}

header p {
    color: var(--e-global-color-4);
    text-align: left;
    font-style: italic;
    font-weight: bold;
}

/*Cabeçalho - Imagem*/
header .hdr_img{
    width: 100%;
}
header .hdr_ctn_img{
    display: contents;
}

/*Cabeçalho - Menu*/
nav {
    background-color: #fff;
    width: 90%;
    overflow: hidden;
    border: 2px solid var(--e-global-color-4);
    vertical-align: top;
    height: 3em;
    position: absolute;
    border-radius: 20px;
    margin: 10px 0px;
}
nav.nav_menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

nav.nav_menu a:hover {
    background-color: #04AA6D;
    color: white;
}

nav.nav_menu icon{
  display: none;
}

@media screen{
  .nav_menu a:not(:first-child) {display: none;}
  .nav_menu a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the nav_menu with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen {
  .nav_menu.responsive {position: relative;}
  .nav_menu.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav_menu.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*Title - Cabeçalho*/
.ctn_title {
    width: 100%;
    padding: 0 10px;
}

/* Main da Página */
main{
    width: 100%;
}

/* Seção */
section{
    margin-left: 10px;
}

section h1, h2, h3{
    color: var(--e-global-color-1);
    font-weight: bold;
    border-bottom: 2px var(--e-global-color-4) solid;
}

section p{
    color: black;
    font-weight: bold;
}
/* Seção - Titulo */


/* Seção - Formulario */
.fld_form{
    border: 2px solid var(--e-global-color-5);
    border-style: groove;
    box-shadow: -6px 4px 8px 0px var(--e-global-color-1);
}

/*Rodapé da Página*/
footer{
    text-decoration: none;
    width: 100%;
    background-color: #A82008;
    float: left;
    text-align: center;
    padding: 1em 0em;
}
footer p{
    font-family:2 'open_sanslight';
    font-size: 1em;
    color: #e1e0e0;
    height: 20px;
}

footer .ftr_direitos {
    margin-bottom: 0.5em;
}

footer .ftr_autor {
    font-size: 0.96em;
}

footer .ftr_autor a {
    color: #fff;
    text-decoration: none;
}

footer .ftr_autor a:hover {
    text-decoration: underline;
}