body{
  background-color: dimgrey;
  font-family: 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
  margin: 0%;
  padding: 0px;
  border: 0px;
}

header{
    background-color: coral;
    padding-bottom: 14px;
    height: 100px;
    top: 0;
    overflow: hidden;
}
header h1{
    color: whitesmoke;
    text-align: left;
    font-size: 200%;
}
header p{
    color: orangered;
    text-align: left;
    font-style: italic;        
}
header div{
    display: block;
    float: left;
}

nav{
    background-color: bisque;
    overflow: hidden;
    width: 100%; 
    height: 30px;  
}
nav ul{    
    border: 0px;
    margin: 0px;
}
nav ul li{    
    display: inline;
    font-weight: bold;
}
nav ul li a{
    display: inline-block;
    padding: 5px 16px;
    color:rgb(161, 25, 25);
    text-decoration-line:none;
}
nav ul li a:hover {
    background-color: rgb(255, 38, 0);
    color: black;
}

#menuSps{
    position: fixed;
    width: 100%;
}
#helogo{
    float:right;
    margin-top: 15px;
}

section{
    height: auto;
    width: 100%;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.prim{
    padding-top: 138px;
}
section table{
    margin: 0px;
    padding:0;
    border: 0;
    width: 100%;
}
.colunaE{
    background-color: rgb(1, 1, 139);
    margin: 0px 10px;
    width: 40%;
}
td.colunaE h1,h2,h3,h4,h5,h6{
    color: white;
}
td.colunaE p{
    color: white;
}
td.colunaE h2,h3,h4,h5,h6{
    border-radius: 35px 5px 5px 5px;
    padding: 25px;
    background-color: rgb(11, 0, 96)
}
td.colunaE img{
    border: 3px solid #fff;
    border-radius: 25%;
    height: auto;
    overflow: hidden;
    width: 60px;
}


.colunaD{
    background-color: aliceblue;
    margin: 0px 10px;
    width: 60%;
}
td.colunaD h1,h2,h3,h4,h5,h6{
    color: blue;
}
td.colunaS p{
    color: black;
}
td.colunaE h2,h3,h4,h5,h6{
    color:black;
    font-stretch: semi-condensed;
}

footer{
    height: 200px;
    width: 100%;
    background-color: rgb(9, 9, 9);     
}
