*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    scroll-behavior: smooth;
}

table{
    border-collapse: collapse;
}

/* Cabeçalho */
header{
    box-sizing: border-box;
    float: left;
    display: flex;
    justify-content: center;
    width: 20%;
    overflow: auto;
}

/* Cabeçalho - Titulo */
header h1{
    color: #3a3a3a;
    text-align: center;
    font-style: italic;
}

/* Cabeçalho - Barra */
.hdr_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    height: 100%;
    background-color: #00ff88;
    position: fixed;
}
.bar_itens{
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #56c692;
    transition: color, background-color;
    transition-duration: 2s, 1s;
} 
.bar_itens:hover{
    display: block;
    color: #000;
    padding: 8px 16px;
    background-color: #50505077;
}

/* Principal */
main{
    box-sizing: border-box;
    float: right;
    width: 80%;
    background-color: #74faff;
}

/* Principal - Seção */
section{
    width: 100%;
    margin: 0;
    padding: 0 10px;
    border: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section h1, section h2, section h3, section h4, section h5, section h6{
    /* margin: 5px 0; */
    text-align: center;
    color: #000;
}
section p{
    text-align: left;    
    color: #000;
    margin: 0;
}

.scn_title{
    background-color: #bdbbbb;
    display: block;
}

.btn_auto{
    background-color: #001026;
    border: 0;
    border-radius: 2px;
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
}

/* .div_list .active{ */
    /* margin: 5px 0; */
    /* border: 1px solid #959595; */
/* } */

/* Rodape */
footer {
    width: 100%;
    background-color: rgb(164, 44, 0);
    color: #fff;
    font-size: 0.875em;
    bottom: 0;
    position: relative;
    z-index: 1;
}
.container {
    float: left;
    width: 100%;
}
.main_footer_copy {
    background-color: #303030;
    width: 100%;
    float: left;
    text-align: center;
    padding: 1.5em 0em;
}

.main_footer_copy p {
    font-family:2 'open_sanslight';
    font-size: 1em;
    color: #e1e0e0;
    height: 20px;
}

.main_footer_copy .m-b-footer {
    margin-bottom: 0.5em;
}

.main_footer_copy .by {
    font-size: 0.96em;
}

.main_footer_copy .by a {
    color: #fff;
    text-decoration: none;
}

.main_footer_copy .by a:hover {
    text-decoration: underline;
}