*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Cabeçalho */
header{
    box-sizing: border-box;
    position: relative;
    float: left;
    display: flex;
    justify-content: center;
    width: 30%;
}

/* Cabeçalho - Barra */
.hdr_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
    height: 100%;
    background-color: #92ffcc;
    position: fixed;
    overflow: auto;
}
.hdr_bar li{

}
.bar_itens{
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #63cc9b;
    transition: color, background-color;
    transition-duration: 1s, 1s;
} 
.bar_itens:hover{
    display: block;
    color: #fff;
    padding: 8px 16px;
    background-color: #50505077;
}

/* Principal */
main{
    box-sizing: border-box;
    position: relative;
    float: right;
    display: flex;
    justify-content: center;
    width: 70%;
}
/* Principal - Seção */

/* Rodape */
