*{
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Cabeçalho */
header{
    box-sizing: border-box;
    position: relative;
    float: left;
    justify-content: center;
    width: 30%;
    overflow: auto;
}

/* Cabeçalho - Titulo */
header h1{
    color: #3a3a3a;
    text-align: center;
    font-style: italic;
}

/* Cabeçalho - Barra */
.hdr_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
    height: 100%;
    background-color: #92ffcc;
    position: fixed;
}
.hdr_bar li{

}
.bar_itens{
    display: block;
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #63cc9b;
    transition: color, background-color;
    transition-duration: 1s, 1s;
} 
.bar_itens:hover{
    display: block;
    color: #fff;
    padding: 8px 16px;
    background-color: #50505077;
}

/* Principal */
main{
    box-sizing: border-box;
    position: relative;
    float: right;
    display: flex;
    width: 70%;
    background-color: #00f7ff;
}

/* Principal - Seção */
section{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
section h1{

}

.scn_title{
    background-color: #bdbbbb;
}
/* Rodape */
footer{

}
